.navigation{
    background: #2196F3;
    padding: 30px;
}

.navigation a{
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background: #FF9800;
    border-radius: 4px;
}

#imgSlide{
    height: 200px;
    width: 250px;
}

.titleProduct{
    margin-left: 30rem;
    font-size: 25px;
    font-weight: bold;
}

#imgCov{    
    height: 500px;
    width: 500px;
}